<h1>New Cat</h1>

<form method="POST" action="<%= cats_url %>">
  <label for="cat-name">Name: </label>
  <input id="cat-name" type="text" name="cat[name]" value=""><br>

  <label for="cat-sex">Gender: </label>
  <input id="cat-sex" type="radio" name="cat[sex]" value="M"> Male
  <input id="cat-sex" type="radio" name="cat[sex]" value="F"> Female <br>

  <label for="cat-color">Color: </label>
  <select id="cat-color" name="cat[color]">
      <option value="null" ></option>
  <% Cat::COLORS.each do |color| %>
    <option value="<%=  color %>"> <%= color %></option>
    <% end %>
  </select><br>

  <label for="cat-birthdate">Birthdate: </label>
  <input id="cat-birthdate" type="date" name="cat[birthdate]"><br>

  <label for="cat-description">Fond Memories: </label>
  <textarea id="cat-description" rows="10" cols="40" name="cat[description]"></textarea><br>

  <button>Submit</button>

</form>
